<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/static/assets/css/styles.css">
        <link rel="shortcut icon"href='/static/assets/img/bitbug_favicon.ico'>

        <title>赵文茜主页</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    赵文茜 Kathy
                </a>

                <div class="nav__menu" id="nav-menu">
                    <!-- <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Contact</a>
                        </li>
                    </ul> -->

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle"></span>
                        <h1 class="home__title">亲爱的HR</h1>
                        <p class="home__description">
                            请点击以下按钮查看项目示例，首次加载可能需等待20秒 <br> 
                        </p>
                        <a href="/dashboard/salesdata" class="home__button">
                            数据大屏项目
                        </a>
                        <a href="http://47.100.18.252:8001/dazhong/coffee_store_analysis" class="home__button">
                            数据分析项目
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="/static/assets/img/adaiagua.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <span>13661806156</span>
                    <span>|</span>
                    <span>zwq8zhj@163.com</span>
                </footer>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/static/assets/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="/static/assets/js/main.js"></script>
    </body>
</html>